/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 20px;
    background-color: #333;
}

/* Hide checkbox by default */
#menu-toggle {
    display: none;
}

/* Hamburger icon styles */
.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 18px;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
}

/* Menu Styles */
.menu {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    position: relative;
    padding: 6px 12px;
    transition: transform 0.3s ease, color 0.3s ease;
}

/* Hover effect with gradient */
.menu li a:hover {
    transform: scale(1.1);
    /* Increase size by 110% */
    background-image: linear-gradient(to right, #ffffff, #87ceeb, #e2acdc);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid #f4e5f3;
    /* Border appears on hover */
    border-radius: 15px;
}

/* Mobile Menu Hidden */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .menu {
        display: none;
        flex-direction: column;
        background-color: #333;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
    }

    /* Show the menu when the checkbox is checked */
    #menu-toggle:checked+.hamburger+.menu {
        display: flex;
    }

    .menu li {
        text-align: center;
        padding: 15px 0;
    }
}

/* Button Styles */
button {
    background: transparent;
    border: none;
    color: grey;
    font-size: 24px;
    cursor: pointer;
    padding: 10px 20px;
    transition: color 0.3s, transform 0.3s;
}

button:hover {
    color: #fff;
    transform: scale(1.2);
}

section {
    margin: 20px 0;
    /* Espaciado entre secciones */
    padding: 50px;
    border: 1px solid #ccc;
    /* Borde para las secciones */
    border-radius: 5px;
    /* Esquinas redondeadas */
}