/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background-color: #332f33;
    padding-top: 60px;

}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 20px;
    background-color: #0c0c0c;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;


}

/* Hide checkbox by default */
#menu-toggle {
    display: none;
}

/* Hamburger icon styles */
.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 18px;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
}

/* Menu Styles */
.menu {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    position: relative;
    padding: 6px 12px;
    transition: transform 0.3s ease, color 0.3s ease;
}

/* Hover effect with gradient */
.menu li a:hover {
    transform: scale(1.1);
    /* Increase size by 110% */
    background-image: linear-gradient(to right, #ffffff, #87ceeb, #e2acdc);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid #f4e5f3;
    /* Border appears on hover */
    border-radius: 15px;
}

/* Mobile Menu Hidden */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .menu {
        display: none;
        flex-direction: column;
        background-color: #000000;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        opacity: 90%;
    }

    /* Show the menu when the checkbox is checked */
    #menu-toggle:checked+.hamburger+.menu {
        display: flex;
    }

    .menu li {
        text-align: center;
        padding: 15px 0;
    }
}

/* Button Styles */
button {
    background: transparent;
    border: none;
    color: grey;
    font-size: 24px;
    cursor: pointer;
    padding: 10px 20px;
    transition: color 0.3s, transform 0.3s;
}

button:hover {
    color: #fff;
    transform: scale(1.2);
}

/* Grid Layout */
main {
    display: block;
    grid-gap: 15px;
    padding: 25px;
    height: 100vh;
    background-color: #332f33;
    margin-left: 28%;
    width: 72%;
}

.View {
    position: fixed;

    left: 30px;
    background-color: #0a0a0a8b;
    width: 25%;
    height: 82%;
    border-radius: 15px;
    border: 1px solid #0a0a0a;
    z-index: 999;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Sections inside the grid */



/* START Mobile Style ------------------------------------------------*/
@media (min-width: 320px) and (max-width: 700px) {

    .inicio,
    .Sobremi,
    .Contacto {
        background-color: #0a0a0a8b;
        margin: 0 auto 25px;
        border-radius: 15px;
        border: 1px solid #0a0a0a;
        text-align: center;
        overflow: hidden;
        width: 95%;
        height: 800px;
        margin-bottom: 25px;
        margin-top: 120px;
        box-sizing: border-box;
        padding: 25px;
    }

    .Sobremi {
        background-color: #0a0a0a8b;
        margin: 0 auto 25px;
        border-radius: 15px;
        border: 1px solid #0a0a0a;
        text-align: center;
        overflow: hidden;
        width: 95%;
        height: 1150px;
        margin-bottom: 25px;
        margin-top: 120px;
        box-sizing: border-box;
        padding: 25px;
    }



    .View {
        position: relative;
        width: 81%;
        height: 700px;
        top: 50px;
        left: auto;
        margin: 0 auto 20px;
    }

    .Titulo {
        margin-top: 11px;
        font-size: 24px;
        color: white;
        text-align: center;
        padding: 10px;
        width: 100%;
    }

    main {
        top: 700px;
        margin-left: 0;
        padding: 0 10px;
        height: auto;
        position: absolute;
        width: 100%;
    }


    .Avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }


    .Avatar img {
        width: 80%;
        max-width: 200px;
        height: auto;
    }



    .contenido-inicio {
        margin-top: 150px;
        text-align: center;
        font-weight: 400;
        margin: 0 auto;
        max-width: 100%;
        box-sizing: border-box;



    }

    .contenido-inicio p {
        color: white;
        font-size: 32px;
        font-weight: 300;
    }

    .botones-inicio button {
        width: 84%;
        font-size: 20px;
        margin: 0 auto;
        margin-bottom: 15px;
        padding: 15px;
        margin: 20px;
    }


    .titulo-rosa {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        background: linear-gradient(to right, #569dd7, #ff69b4);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 25px;
        background-clip: text;
        display: inline-block;
        /* Asegúrate de que el texto sea un bloque en línea */
        transition: transform 0.3s ease;
        /* Transición suave para el crecimiento */
    }

    /* Efecto de hover */
    .titulo-rosa:hover {
        transform: scale(1.1);
        /* Aumenta el tamaño de cada letra al hacer hover */
    }

    .btn-trabajar {
        background: linear-gradient(to right, #e4e9ec, #6faac0, #ae71b0);
        color: black;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        border-radius: 15px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        transition: background-color 0.3s ease;
    }

    .btn-trabajar:hover {
        background-color: #5b95a8;
    }

    .botones-sociales {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .botones-sociales a {
        margin: 0 5px;
        text-decoration: none;
        /* Quitar subrayado del enlace */
    }

    .botones-sociales button {
        background-color: #0a000013;
        /* Fondo blanco para los botones */
        /* Borde gris claro */
        border-radius: 5px;
        /* Bordes redondeados */
        padding: 10px;
        /* Espacio interno */
        cursor: pointer;
        /* Cambiar cursor al pasar por encima */
        transition: background-color 0.3s, border-color 0.3s;
        /* Transiciones suaves */
    }

    .botones-sociales button:hover {
        background-color: #030000;
        /* Fondo gris claro al pasar el mouse */
        border-color: #888;
        /* Cambiar color del borde al pasar el mouse */
    }


    /* First Section Content */
    .contenido-inicio {
        margin-top: 150px;
        text-align: center;
        font-weight: 400;
    }


    .botones-inicio {
        margin-top: 40px;
    }

    button {
        font-family: 'Poppins', sans-serif;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 400;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

    button:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border: 2px solid white;
    }

    /* Download CV Button */
    .btn-descargar {
        background-color: #6faac0;
        color: white;
        margin-right: 15px;
    }

    /* My Works Button */
    .btn-trabajos {
        background-color: #ff69b4;
        color: white;
    }

    .Proyectos {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        background-color: #0a0a0a8b;
        width: 95%;
        padding: 10px;
        height: 1350px;
        margin: 25px auto;
        border-radius: 15px;
        border: 1px solid #0a0a0a;
        text-align: center;
        overflow: hidden;
    }

    .Objectos1 {
        position: relative;
        margin: 0 auto;
        background-color: rgb(233, 225, 225);
        height: 250px;
        width: 280px;
        border-radius: 25px;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .Objectos1:hover {
        transform: scale(1.1);
        box-shadow: 0 0 25px 5px rgba(197, 132, 194, 0.8);
        margin: 0 auto;
    }

    .info-box {
        position: absolute;
        bottom: 80px;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 5px;
        border-radius: 5px;
        font-size: 14px;
        opacity: 0;
        transition: opacity 0.3s ease;
        white-space: nowrap;
        margin: 0 auto;
    }

    .Objectos1:hover .info-box {
        opacity: 70%;
    }




    .Objectos1 img {
        max-width: 80%;
        height: auto;
        object-fit: contain;
        border-radius: 10px;
        margin: 0 auto;
    }

    .titulo-proyectos {
        grid-column: 1 / -1;
        margin-top: 2px;
        font-size: 26px;
        color: white;
        text-align: center;
        padding: 10px;
        width: 100%;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
    }

    .Sobremi {
        color: #ffffff;
        padding: 40px 20px;
        text-align: center;
        margin: 0 auto;
    }

    .Sobremi h2 {
        font-size: 36px;
        color: #ffffff;
        margin-bottom: 20px;
    }

    .bio-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        gap: 50px;
        justify-content: center;
    }

    .bio-card {
        border-radius: 10px;
        padding: 20px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .bio-card:hover {
        transform: scale(1.05);

    }

    .bio-card h3 {
        font-size: 20px;
        color: #ffffff;
        margin-bottom: 10px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;

    }

    .Sobremi h2 {
        font-size: 30px;
        color: #ffffff;
        margin-bottom: 10px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;

    }


    .bio-card p {
        font-size: 16px;
        color: #ffffff;
        line-height: 1.6;
    }

    .tool-card img {
        max-width: 30px;
        /* Ajusta el tamaño máximo de los logos */
        height: auto;
        transition: transform 0.3s ease;
    }

    .tool-card img:hover {
        transform: scale(1.1);
        box-shadow: 0 1px 12px rgba(255, 255, 255, 0.966);

        /* Efecto zoom al hacer hover sobre los logos */
    }

    /* //CONTACTO INFO */
    .Contacto {
        background-color: rgba(10, 10, 10, 0.8);
        margin: 0 auto 25px;
        border-radius: 15px;
        border: 1px solid #0a0a0a;
        text-align: center;
        overflow: hidden;
        width: 95%;
        height: auto;
        padding: 20px;
        box-sizing: border-box;
        margin-top: 25px;
        margin-bottom: 25px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
    }

    .Contacto h2 {
        font-size: 36px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        color: #ffffff;
        margin-bottom: 30px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: left;
        gap: 20px;
    }

    .contact-info p {
        font-size: 18px;
        color: #ffffff;
        margin: 10px 0;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
    }

    .contact-info strong {
        color: #9ad4f0;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        /* Detalle en color diferente */
    }

    .social-media {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .social-media a {
        display: inline-block;
        text-decoration: none;
    }

    .social-media img {
        width: 40px;
        height: auto;
        transition: transform 0.3s ease;
    }

    .social-media img:hover {
        transform: scale(1.2);
    }

    @media (min-width: 768px) {
        .contact-container {
            flex-direction: row;
            justify-content: space-between;
        }

        .contact-info,
        .social-media {
            flex: 1;
        }
    }




}

/* START Tablet Style ------------------------------------------------*/
@media (min-width: 720px) and (max-width: 1024px) {
    .View {
        position: fixed;
        top: 13vh;
        left: 30px;
        width: 28%;
        height: 65%;
        border-radius: 15px;
        z-index: 999;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }


    .Titulo {
        margin-top: 11px;
        font-size: 24px;
        color: white;
        text-align: center;
        padding: 10px;
        width: 100%;
    }


    .Avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }




    .Contacto,
    .inicio {
        background-color: #0a0a0a8b;
        margin: 0 auto 25px;
        border-radius: 15px;
        border: 1px solid #0a0a0a;
        text-align: center;
        overflow: hidden;
        width: 95%;
        height: 700px;
        margin-bottom: 25px;
        box-sizing: border-box;
        padding: 25px;
        margin-top: 10px;
    }



    .Sobremi {
        background-color: #0a0a0a8b;
        margin: 0 auto 25px;
        border-radius: 15px;
        border: 1px solid #0a0a0a;
        text-align: center;
        overflow: hidden;
        width: 95%;
        height: 1000px;
        margin-bottom: 25px;
        box-sizing: border-box;
        padding: 25px;
    }

    .Avatar img {
        width: 55%;
        max-width: 160px;
    }

    .Titulo {
        margin-top: 12px;
        font-size: 19px;
        padding: 8px;
    }

    .contenido-inicio {
        margin-top: 150px;
        text-align: center;
        font-weight: 400;
        margin: 0 auto;
        max-width: 100%;
        box-sizing: border-box;

    }

    .contenido-inicio p {
        color: white;
        font-size: 32px;
        font-weight: 300;
    }

    .botones-inicio button {
        width: 50%;
        font-size: 20px;
        margin: 0 auto;
        margin-bottom: 15px;
        padding: 15px;
        margin: 20px;
    }

    .btn-trabajar {
        background: linear-gradient(to right, #e4e9ec, #6faac0, #ae71b0);
        color: black;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 13px;
        width: 80%;
        border-radius: 15px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        transition: background-color 0.3s ease;
    }


    .titulo-rosa {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        background: linear-gradient(to right, #569dd7, #ff69b4);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 25px;
        background-clip: text;
        display: inline-block;
        /* Asegúrate de que el texto sea un bloque en línea */
        transition: transform 0.3s ease;
        /* Transición suave para el crecimiento */
    }

    /* Efecto de hover */
    .titulo-rosa:hover {
        transform: scale(1.1);
        /* Aumenta el tamaño de cada letra al hacer hover */
    }

    .btn-trabajar {
        background: linear-gradient(to right, #e4e9ec, #6faac0, #ae71b0);
        color: black;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 12px;
        border-radius: 15px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        transition: background-color 0.4s ease;
    }



    .botones-sociales {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .botones-sociales a {
        margin: 0 5px;
        text-decoration: none;
        /* Quitar subrayado del enlace */
    }

    .botones-sociales button {
        background-color: #0a000013;
        /* Fondo blanco para los botones */
        /* Borde gris claro */
        border-radius: 5px;
        /* Bordes redondeados */
        padding: 10px;
        /* Espacio interno */
        cursor: pointer;
        /* Cambiar cursor al pasar por encima */
        transition: background-color 0.3s, border-color 0.3s;
        /* Transiciones suaves */
    }

    .botones-sociales button:hover {
        background-color: #030000;
        /* Fondo gris claro al pasar el mouse */
        border-color: #888;
        /* Cambiar color del borde al pasar el mouse */
    }


    /* First Section Content */
    .contenido-inicio {
        margin-top: 150px;
        text-align: center;
        font-weight: 400;
    }

    /* Button Styles */
    .botones-inicio {
        margin-top: 40px;
    }

    button {
        font-family: 'Poppins', sans-serif;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 400;
        transition: transform 0.2s ease, box-shadow 0.2s ease;

    }

    button:hover {
        box-shadow: 0 0 10px white, 0 0 20px white;
        /* Ilumina el borde */
        transform: translateY(-2px);
        /* Eleva el botón ligeramente */
    }


    /* Download CV Button */
    .btn-descargar {
        background-color: #6faac0;
        color: white;
        margin-right: 15px;
    }

    /* My Works Button */
    .btn-trabajos {
        background-color: #ff69b4;
        color: white;
    }

    /* //// POR MODIFICAR  */
    .Proyectos {
        margin-top: 25px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        gap: 20px;
        background-color: #0a0a0a8b;
        width: 95%;
        height: 1200px;
        margin: 0px auto;
        border-radius: 15px;
        border: 1px solid #0a0a0a;
        text-align: center;
        overflow: hidden;
        padding: 20px;
        margin-bottom: 25px;
    }

    .Objectos1 {
        position: relative;
        margin: 0 auto;
        background-color: rgb(233, 225, 225);
        height: 250px;
        width: 280px;
        border-radius: 25px;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .Objectos1:hover {
        transform: scale(1.1);
        box-shadow: 0 0 25px 5px rgba(197, 132, 194, 0.8);
    }

    .info-box {
        position: absolute;
        bottom: 80px;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 5px;
        border-radius: 5px;
        font-size: 14px;
        opacity: 0;
        transition: opacity 0.3s ease;
        white-space: nowrap;
    }

    .Objectos1:hover .info-box {
        opacity: 70%;
    }




    .Objectos1 img {
        max-width: 80%;
        height: auto;
        object-fit: contain;
        border-radius: 10px;
    }

    .titulo-proyectos {
        grid-column: 1 / -1;
        margin-top: 2px;
        font-size: 26px;
        color: white;
        text-align: center;
        padding: 10px;
        width: 100%;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
    }

    .Sobremi {
        color: #ffffff;
        padding: 40px 20px;
        text-align: center;
        margin: 0 auto;
    }

    .Sobremi h2 {
        font-size: 36px;
        color: #ffffff;
        margin-bottom: 20px;
    }

    .bio-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        gap: 50px;
        justify-content: center;
    }

    .bio-card {
        border-radius: 10px;
        padding: 20px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .bio-card:hover {
        transform: scale(1.05);

    }

    .bio-card h3 {
        font-size: 20px;
        color: #ffffff;
        margin-bottom: 10px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;

    }

    .Sobremi h2 {
        font-size: 30px;
        color: #ffffff;
        margin-bottom: 10px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;

    }


    .bio-card p {
        font-size: 16px;
        color: #ffffff;
        line-height: 1.6;
    }

    .tool-card img {
        max-width: 30px;
        /* Ajusta el tamaño máximo de los logos */
        height: auto;
        transition: transform 0.3s ease;
    }

    .tool-card img:hover {
        transform: scale(1.1);
        box-shadow: 0 1px 12px rgba(255, 255, 255, 0.966);

        /* Efecto zoom al hacer hover sobre los logos */
    }

    /* //CONTACTO INFO */
    .Contacto {
        background-color: rgba(10, 10, 10, 0.8);
        margin: 0 auto 25px;
        border-radius: 15px;
        border: 1px solid #0a0a0a;
        text-align: center;
        overflow: hidden;
        width: 95%;
        height: auto;
        padding: 20px;
        box-sizing: border-box;
        margin-top: 25px;
        margin-bottom: 25px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
    }

    .Contacto h2 {
        font-size: 36px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        color: #ffffff;
        margin-bottom: 30px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: left;
        gap: 20px;
    }

    .contact-info p {
        font-size: 18px;
        color: #ffffff;
        margin: 10px 0;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
    }

    .contact-info strong {
        color: #9ad4f0;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        /* Detalle en color diferente */
    }

    .social-media {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .social-media a {
        display: inline-block;
        text-decoration: none;
    }

    .social-media img {
        width: 40px;
        height: auto;
        transition: transform 0.3s ease;
    }

    .social-media img:hover {
        transform: scale(1.2);
    }

    @media (min-width: 768px) {
        .contact-container {
            flex-direction: row;
            justify-content: space-between;
        }

        .contact-info,
        .social-media {
            flex: 1;
        }
    }






}

/* fin estilo tablet ----------------------------------------- */



@media (min-width: 1024px) and (max-width: 1800px) {

    .inicio,
    .Sobremi {
        background-color: #0a0a0a8b;
        width: 95%;
        height: 600px;
        margin: 25px auto;
        border-radius: 15px;
        border: 1px solid #0a0a0a;
        text-align: center;
        overflow: hidden;
    }

    .View {
        position: fixed;
        top: 16vh;
        left: 30px;
        width: 28%;
        height: 650px;
        border-radius: 15px;
        z-index: 999;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .Titulo {
        margin-top: 12px;
        font-size: 24px;
        color: white;
        text-align: center;
        padding: 10px;
        width: 100%;
    }

    .Avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }

    .Avatar img {
        width: 170px;
        height: auto;
    }

    .contenido-inicio {
        margin-top: 150px;
        text-align: center;
        font-weight: 400;
        max-width: 100%;
        box-sizing: border-box;
    }

    .contenido-inicio p {
        color: white;
        font-size: 40px;
        font-weight: 300;
    }


    .botones-inicio {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        padding: 15px;
        gap: 10px;
        text-align: center;
    }

    .botones-inicio button {
        font-size: 20px;
        margin: 10px auto;
        width: 250px;
        padding: 15px;
        text-align: center;
    }

    .btn-descargar {
        background-color: #6faac0;
        color: white;
    }

    .btn-trabajos {
        background-color: #ff69b4;
        color: white;
    }


    .btn-trabajar {
        background: linear-gradient(to right, #e4e9ec, #6faac0, #ae71b0);
        color: black;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 19px;
        width: 80%;
        border-radius: 15px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        transition: background-color 0.3s ease;
    }

    .titulo-rosa {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        background: linear-gradient(to right, #569dd7, #ff69b4);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 35px;
        display: inline-block;
        transition: transform 0.3s ease;
    }

    .titulo-rosa:hover {
        transform: scale(1.1);
    }

    .botones-sociales button {
        margin: 5px;
        border-radius: 15px;
        padding: 10px;
        border: none;
        cursor: pointer;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .botones-sociales button:hover {
        transform: scale(1.4);
    }

    /* Estilo para los botones generales */
    button {
        font-family: 'Poppins', sans-serif;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 400;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

    button:hover {
        box-shadow: 0 0 10px white, 0 0 20px white;
        transform: translateY(-2px);
    }

    /* Botones específicos */

    .Proyectos {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        gap: 20px;
        background-color: #0a0a0a8b;
        width: 95%;
        height: 700px;
        margin: 0px auto;
        border-radius: 15px;
        border: 1px solid #0a0a0a;
        text-align: center;
        overflow: hidden;
        padding: 20px;
    }

    .Objectos1 {
        position: relative;
        margin: 0 auto;
        background-color: rgb(233, 225, 225);
        height: 250px;
        width: 280px;
        border-radius: 25px;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .Objectos1:hover {
        transform: scale(1.1);
        box-shadow: 0 0 25px 5px rgba(197, 132, 194, 0.8);
    }

    .info-box {
        position: absolute;
        bottom: 80px;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 5px;
        border-radius: 5px;
        font-size: 14px;
        opacity: 0;
        transition: opacity 0.3s ease;
        white-space: nowrap;
    }

    .Objectos1:hover .info-box {
        opacity: 70%;
    }




    .Objectos1 img {
        max-width: 80%;
        height: auto;
        object-fit: contain;
        border-radius: 10px;
    }

    .titulo-proyectos {
        grid-column: 1 / -1;
        margin-top: 2px;
        font-size: 26px;
        color: white;
        text-align: center;
        padding: 10px;
        width: 100%;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
    }

    .Sobremi {
        color: #ffffff;
        padding: 40px 20px;
        text-align: center;
        margin: 0 auto;
    }

    .Sobremi h2 {
        font-size: 36px;
        color: #ffffff;
        margin-bottom: 20px;
    }

    .bio-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        gap: 50px;
        justify-content: center;
    }

    .bio-card {
        border-radius: 10px;
        padding: 20px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .bio-card:hover {
        transform: scale(1.05);

    }

    .bio-card h3 {
        font-size: 20px;
        color: #ffffff;
        margin-bottom: 10px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;

    }

    .Sobremi h2 {
        font-size: 30px;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;

    }


    .bio-card p {
        font-size: 16px;
        color: #ffffff;
        line-height: 1.6;
    }

    .tool-card img {
        max-width: 30px;
        /* Ajusta el tamaño máximo de los logos */
        height: auto;
        transition: transform 0.3s ease;
    }

    .tool-card img:hover {
        transform: scale(1.1);
        box-shadow: 0 1px 12px rgba(255, 255, 255, 0.966);

        /* Efecto zoom al hacer hover sobre los logos */
    }

    /* //CONTACTO INFO */
    .Contacto {
        background-color: rgba(10, 10, 10, 0.8);
        margin: 0 auto 25px;
        border-radius: 15px;
        border: 1px solid #0a0a0a;
        text-align: center;
        overflow: hidden;
        width: 95%;
        height: auto;
        padding: 20px;
        box-sizing: border-box;
        margin-top: 25px;
        margin-bottom: 25px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
    }

    .Contacto h2 {
        font-size: 36px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        color: #ffffff;
        margin-bottom: 30px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: left;
        gap: 20px;
    }

    .contact-info p {
        font-size: 18px;
        color: #ffffff;
        margin: 10px 0;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
    }

    .contact-info strong {
        color: #9ad4f0;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        /* Detalle en color diferente */
    }

    .social-media {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .social-media a {
        display: inline-block;
        text-decoration: none;
    }

    .social-media img {
        width: 40px;
        height: auto;
        transition: transform 0.3s ease;
    }

    .social-media img:hover {
        transform: scale(1.2);
    }

    @media (min-width: 768px) {
        .contact-container {
            flex-direction: row;
            justify-content: space-between;
        }

        .contact-info,
        .social-media {
            flex: 1;
        }
    }




}